.App {
  background-color: #282c34;
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Category {
  color: green;
  font-size: calc(12px + 2vmin);
}

.IncorrectGuesses, .GuessesRemaining {
  color: red;
  font-size: calc(8px + 2vmin);
}

.Hangman-Section {
  text-align: center;
}

.Letters-Guessed, .Letters-Guessed-Section {
  text-align: center;
  color: white;
  font-size: calc(9px + 1vmin);
}

.Word-Section {
  color: white;
  text-align: center;
  padding-bottom: 20px;
  font-size: 75px;
}

.App-link {
  color: #09d3ac;
}
